@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .progress-circle span {
        line-height: 1em;
        font-size: medium;
        width: 6em;
    }
</style>

<script type="text/javascript">
    var idVar = setInterval(() => {
        timer()
    }, 1000);

    function timer() {
        var dateVar = new Date();
        var time = dateVar.toLocaleTimeString();
        document.getElementById("clock").innerHTML = time;
    }

    function myStopFunction() {
        clearInterval(idVar);
    }
</script>

<button onclick="myStopFunction()">Stop the clock</button>

<p id="clock"></p>


<button type="button" id="btnStartTest" title="Click">Start Test</button>

<div id="prgTotalTime" style="display:none;" class="progress-circle p10">
    <span id="spanLevel" style="line-height:4em"></span>
    <span id="spanShuttleNo" style="line-height:6em"></span>
    <span id="spanSpeed" style="line-height:8em"></span>
    <div class="left-half-clipper">
        <div class="first50-bar"></div>
        <div class="value-bar"></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <table class="table-responsive">
            <thead>
                <tr>
                    <th width="40%">NEXT <br /> SHUTTLE</th>
                    <th width="40%">TOTAL  <br /> TIME</th>
                    <th width="40%">TOTAL <br /> DISTANCE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span id="nextShuttle"></span></td>
                    <td><span id="totalTime"></span></td>
                    <td><span id="totalDistance"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script lang="en" type="text/javascript">

    var yoyoTestResult;
    GetYoyoTest();
    var i = 0;
    var p = 0;
    var showProgressTimerArray = [];

    function GetYoyoTest() {
        $.ajax({
            type: "GET",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/GetYoYoTest',
            success: function (result) {
                yoyoTestResult = result;
                console.log(result);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    $("#btnStartTest").click(function () {
        if (yoyoTestResult.length > 0) {
            myLoop(i);
            showProgressCircle();
            totalTimeCalculator();
        }
    });

    function showProgressCircle() {
        var shuttleTime = yoyoTestResult[i].levelTime;
        var commulativeTime = yoyoTestResult[i].commulativeTime;
        var speed = yoyoTestResult[i].speed;
        var shuttleNo = yoyoTestResult[i].shuttleNo;
        var speedLevel = yoyoTestResult[i].speedLevel;
        var totalSeconds = parseFloat(commulativeTime.toString().substr(0, 2)) * 60 + parseFloat(commulativeTime.toString().substr(3, 5));
        var pTotal = totalSeconds;
        //killShowProgressCircleInstances();
        var timer = setInterval(function () {
            pTotal -= 1;
            if (pTotal <= 0) {
                killShowProgressCircleInstances();
            }
            $("#nextShuttle").text(pTotal.toFixed(2));
            var classList = document.getElementById('prgTotalTime').className.split(/\s+/);
            for (var i = 0; i < classList.length; i++) {
                if (classList[i] !== 'progress-circle') {
                    $("#prgTotalTime").removeClass(classList[i]);
                }
            }

            var perc = 100 - (Math.abs(pTotal) * 100 / totalSeconds);
            if (perc > 50) {
                $("#prgTotalTime").addClass("over50 p" + Math.round(perc));
            }
            else {
                $("#prgTotalTime").addClass("p" + Math.round(perc));
            }

            $("#prgTotalTime").css("display", "block");
            $("#spanLevel").text("Level " + speedLevel);
            $("#spanShuttleNo").text("Shuttle" + shuttleNo);
            $("#spanSpeed").text(speed);

        }, 1000);
        
        showProgressTimerArray.push(timer);
    }

    function totalTimeCalculator() {
        setInterval(function () {
            p += 0.01;
            $("#totalTime").text(p.toFixed(2));
        }, 10);
    }

    function calculatorInnerFunction(p) {
        p += 0.01;
        $("#totalTime").text(p.toFixed(2));
    }

    function myLoop() {
        commulativeTime = yoyoTestResult[i].commulativeTime;
        var totalSeconds = parseFloat(commulativeTime.toString().substr(0, 2)) * 60 + parseFloat(commulativeTime.toString().substr(3, 5));
        setTimeout(function () {
            console.log('commulativeTime: ' + i + ' ' + yoyoTestResult[i].commulativeTime);
            i++;
            if (i < yoyoTestResult.length) {
                myLoop();
                killShowProgressCircleInstances();
                showProgressCircle();
            }
            else {
                console.log('clear timeout called');
            }
        }, parseFloat(totalSeconds) * 1000)
    }


    function killShowProgressCircleInstances() {
        for (var icounter = 0; icounter < showProgressTimerArray.length; icounter++) {
            clearInterval(showProgressTimerArray[icounter]);
        }
    }


</script> 